*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    font-family:'poppins',sans-serif;
   
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}
.log{
    font-size: 1.5rem;
    color:#555 ;
    cursor: default;
    border-radius: 50%;
    background-color: yellowgreen;
}
.log span{
    color: #7d2ae8;
}
.navigation{
    margin-left: -300px;
}
.navigation a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #555;
    margin-right: 40px;
    font-weight: 500;
}

.navigation a:hover{
    color: #7d2ae8;
}
.chat{
    color: #fff;
    padding: 10px 34px;
    text-decoration: none;
    background-color: #7d2ae8;
    border-radius: 12px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.chat:hover{
    color: #7d2ae8;
    background: transparent;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: inline-flex;
    align-items: center;
    padding: 30px 100px;
}
.content {
    max-width: 500px;
    color: #555;
}
.content h2{
    font-size: 3rem;
}
.content h2 span{
    color: #7d2ae8;
}
.content h3{
    font-size: 1.5rem;
}
.content p{
    padding: 10px 0 40px 0;
}
.down a{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 12px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.down a:hover:nth-child(1){
    color: #7d2ae8;
    background: transparent;
}
.down a:nth-child(2){
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.down a:hover:nth-child(2){
    color: #fff;
    background-color:#7d2ae8 ;
}
.social-media{
    position: absolute;
    bottom: 50px;
}
.social-media a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #7d2ae8;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}
.social-media a:hover{
    transform: translateY(-5px);
}
.social-media a i{
    color: #fff;
}
.images{
    position: absolute;
    width: 45%;
    height: 90%;
    bottom: 0;
    right: 100px;
  
}
.images img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-left: 70px;
    margin-top: 50px;
}
article,.hobby ,.foster, .address {
   
    padding: auto;
    margin: 30px;
    height: 90vh;
   font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
